# Node.js related
node_modules/
package-lock.json

# Build artifacts
build/
dist/

# OS related
.DS_Store
Thumbs.db

# IDE/Editor related
.vscode/
.idea/

# WordPress related
*.log
wp-config.php
advanced-cache.php
wp-content/debug.log
wp-content/uploads/
wp-content/upgrade/
wp-content/backups/
wp-content/cache/
wp-content/blogs.dir/
